# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment and secret files
.env
*.env

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build / log / db files
*.log
*.sqlite3
database/*.db
